<configuration>
    
  <conversionRule conversionWord="coloredLevel" converterClass="play.api.Logger$ColoredLevel" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%coloredLevel - %logger - %message%n%xException</pattern>
    </encoder>
  </appender>

  <!--
    The logger name is typically the Java/Scala package name.
    This configures the log level to log at for a package and its children packages.
  -->
  <logger name="play" level="INFO" />
  <logger name="application" level="DEBUG" />
  <logger name="controllers.AdminController" level="DEBUG" />
  <logger name="controllers.APIController" level="DEBUG" />
  <logger name="controllers.URLController" level="DEBUG" />
  <logger name="repos.AuthRepo" level="DEBUG" />
  <logger name="repos.LinkRepo" level="DEBUG" />
  <logger name="security.CacheSessionManager" level="DEBUG" />
  <logger name="security.DefaultDeadboltHandler" level="DEBUG" />
  <logger name="actors.HitCounterActor" level="DEBUG" />
  <logger name="actors.DefaultActorFactory" level="DEBUG" />
  <logger name="modules.DevModule" level="DEBUG" />
  <logger name="modules.TestModule" level="DEBUG" />
  <logger name="integration.APITests" level="DEBUG" />
  <logger name="caching.EHCacheManager" level="DEBUG" />
  <logger name="caching.RedisCacheManager" level="DEBUG" />

  <root level="ERROR">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
